*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.css text eol=lf
*.json text eol=lf

*.png binary
*.jpg binary
*.ico binary

*.svg text eol=lf

*.json text eof=lf

*.md text eof=lf
