dist

#Git
.git
.gitignore
.gitattributes

#Docker
.docker
.dockerignore
docker-compose.yaml

#IDE's
.vscode
.idea
.editorconfig
.eslintrc.js
.prettierrc

#ENV
.env.example

node_modules
docs
infra
test
scripts
bun.lockb
README.md

#tsconfig.json
#tsconfig.build.json

vercel.json